$radius: 64px;
$border: 8px;
$bord-rad: 50%;

.spinner {
  z-index: 10000;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;

  width: $radius;
  height: $radius;
  border-radius: $bord-rad;
  display: inline-block;
  border-top: $border solid #ffe600;
  border-right: $border solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;

  width: $radius;
  height: $radius;
  border-radius: $bord-rad;
  border-bottom: $border solid #d20000;
  border-left: $border solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 