:root {
  --ion-color-primary: #8d96a5;
  --ion-color-primary-rgb: 141,150,165;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #7c8491;
  --ion-color-primary-tint: #98a1ae;

  --ion-color-secondary: #cadbe2;
  --ion-color-secondary-rgb: 202,219,226;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #b2c1c7;
  --ion-color-secondary-tint: #cfdfe5;

  --ion-color-tertiary: #babccf;
  --ion-color-tertiary-rgb: 186,188,207;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #a4a5b6;
  --ion-color-tertiary-tint: #c1c3d4;

  --ion-color-success: #d27d2d;
  --ion-color-success-rgb: 210,125,45;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #b96e28;
  --ion-color-success-tint: #d78a42;

  --ion-color-warning: #90e656;
  --ion-color-warning-rgb: 144,230,86;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #7fca4c;
  --ion-color-warning-tint: #9be967;

  --ion-color-danger: #f70828;
  --ion-color-danger-rgb: 247,8,40;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d90723;
  --ion-color-danger-tint: #f8213e;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #d4e3f2;
  --ion-color-light-rgb: 212,227,242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #bbc8d5;
  --ion-color-light-tint: #d8e6f3;
  
}
