#login-box {
  max-width: 480px;
}
// #login-box-title {
//   padding: 20px 0 0 20px;
// }
// #login #login-row #login-column #login-box #login-form #register-link {
//   margin-top: -85px;
// }

#submitButton {
  width: 100%;
}

#registerButton {
  width: 100%;
}

.dialog-btn{
  width: 100%;
}