#login-box {
  max-width: 480px;
}

// .loginBoxTitle {
//   padding: 20px 0 0 20px;
//   font-size: 20px;
//   font-weight: bold;
// }

#login #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#submitButton {
  width: 100%;
}

#registerButton {
  width: 100%;
}

.dialog-btn{
  width: 100%;
}

#home-card{
  max-width: 620px;
}

.info-bage {
  width: 4em;
  height: 1.4em;
}

.BMI-number, .BMI-text{
  padding: 0.4em;
  width: 100%;
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  border-radius: 1em;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

#loginBoxOkceButton {
  background-color: transparent;
  padding-top: 6px;
  text-align: center;
  border-radius: 1em;
  &:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    padding-top: 4px;
    border: 1px;
    border-style: solid;
    border-color: #00bcd4;
  }
}
